<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 主页 -->
    <meta charset="UTF-8">
    <title>Shiro 安全框架</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/public/layui/css/layui.css}">

    <style>
        .layui-layout-admin .layui-side {
            top: 0;
        }

        iframe {
            width: 100%;
            height: 98%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="navFilter">
                <li class="layui-nav-item"><a th:href="@{/view/userManager}" target="body_iframe">用户管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/view/departmentManager}" target="body_iframe">部门管理</a></li>
                <li class="layui-nav-item"><a href="javascript:;" name="a_logout">注销</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="layui-body">
    <iframe th:src="@{/view/welcome}" frameborder="0" scrolling="auto" name="body_iframe"></iframe>
</div>
</body>
<!-- JS -->
<script th:src="@{/static/public/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'jquery'], function () {
        // 请求根URL
        const baseUrl = '/shiro';

        let element = layui.element;
        let $ = layui.$;

        element.on('nav(navFilter)', function (elem) {
            if (elem.context.name === 'a_logout') {
                // 注销操作
                $.ajax({
                    url: baseUrl + '/system',
                    method: 'GET',
                    dataType: 'JSON',
                    success: (message) => {
                        window.location.href = baseUrl + message;
                    }
                });
            }

        });
    });
</script>
</html>