<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 欢迎页 -->
    <meta charset="UTF-8">
    <title>Shiro 安全框架</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/static/public/layui/css/layui.css}">

    <style>
        .title {
            font-weight: bold;
            font-size: 150px;
            font-family: Parchment;
            margin-top: 7%;
            margin-bottom: 50px;
        }

        .main-body {
            font-size: 17px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4 title">
            <span>
                Welcome
            </span>
        </div>
        <div class="layui-col-md8 layui-col-md-offset2" style="text-align: center">
            <span class="main-body">
                非常荣幸下载、学习此系列教程<br><br>
                博主也是开发界的一名小学生，有什么问题还请多多包含、多多指教。
            </span>
            <br>
            <br>
            <span class="main-body" style="font-size: 50px;font-family: Parchment;">
                Mr_Deer
            </span>
        </div>
    </div>
</div>
</body>
</html>